<div class="card">
  <p-menubar [model]="items" styleClass="p-3 surface-0 shadow-2">

    <!-- 🟧 Elementos del Menú -->
    <ng-template pTemplate="item" let-item let-root="root">
      <a pRipple class="flex align-items-center p-menuitem-link">
        <i [class]="item.icon"></i>
        <span class="ml-2">{{ item.label }}</span>
        <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge"></p-badge>
        <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
      </a>
    </ng-template>

    <ng-template pTemplate="end">
      <img 
        src="assets/venti-test.png" 
        alt="Foto" 
        style="height: 2rem; cursor: pointer; border-radius: 50%;" 
        pRipple
        pTooltip="VENTI" 
        tooltipPosition="top"
        (click)="onImageClick()"
      />
    </ng-template>


  </p-menubar>

  <p-dialog [(visible)]="mostrarDialogo" header="Galería de Fotos de Doña Venti" [modal]="true" [closable]="true" [style]="{ width: '60vw' }">
    <p-carousel [value]="imagenes" [numVisible]="3" [numScroll]="1" [circular]="true" styleClass="custom-carousel">
      <ng-template let-image pTemplate="item">
        <img [src]="image.src" [alt]="image.alt" style="width: 100%; border-radius: 8px;">
      </ng-template>
    </p-carousel>
    
  </p-dialog>
</div>
