.card {
  margin: 1rem;
  border-radius: 1rem;
  background-color: var(--surface-card);
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow-2);
}

svg {
  width: 2rem;
  height: 2rem;
}

.font-bold {
  font-weight: bold;
}

.text-lg {
  font-size: 1.2rem;
}

.p-menuitem-link {
  gap: 0.5rem;
  transition: background-color 0.3s ease;
}

.p-menuitem-link:hover {
  background-color: var(--surface-hover);
  border-radius: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-auto {
  margin-left: auto;
}

.gap-2 {
  gap: 0.5rem;
}

.p-avatar {
  margin-left: 0.5rem;
}
